@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model List<Kitaplik.Models.Kitaplar>


<div>burası  shared/ comp /yeni kitaplar /default viewi</div>


<table class="table table-bordered">
    <tr>
        <th>id</th>
        <th>ad</th>
        <th>yazar</th>
    </tr>


    @foreach (var k in Model)
    {
        <tr>
            <td> @k.ID</td>
            <td>@k.KitapAd</td>
            <td>@k.Yazar</td>
        </tr>
    }

</table>